---
import BaseLayout from '@/layouts/base-layout.astro';
---
<BaseLayout>
	<main>
		<h1>IIIF Visual Search Demo</h1>

		<ul>
			<li>
				<a href="build-index">Build Index</a>
				<a href="search">Search</a>
			</li>
		</ul>
	</main>
</BaseLayout>
